body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 20vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    margin: auto;
}