body {
    margin: 0;
    padding: 0;
}

h1 , h2 , h3 , h4 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin-left: 10px;
}

.background-image {
    width: 100vw;
    height: 40vh;
    background-color: blue;
    background-image: url('../img/Banner.png');
    background-size: cover;
}

header {
    text-align: center;
    margin-top: -22px;
    
}

h1 {
    font-size: 35px;
    color: black;
    background-color: grey;
    padding: 10px 0;
    border-bottom: 5px solid black;
    margin-top: -20px;
}
main {
    width: 100vw;
}

.datos-personales h2 , .formacion-academica h2 , .experiencia h2 {
    width: 100vw;
    background-color: grey;
    text-align: center;
    padding: 10px;
}

footer {
    width: 100vw;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}

footer img {
    margin: 0 20px;
}

.p-footer {
    text-align: justify;
    margin: 0 20px;
}